USE [master]
GO
/****** Object:  Database [CurTests]    Script Date: 23.03.2026 13:59:37 ******/
CREATE DATABASE [CurTests]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CurTests', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CurTests.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CurTests_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CurTests_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CurTests].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CurTests]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 23.03.2026 13:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[TestID] [int] NOT NULL,
	[TextQuestion] [nvarchar](1000) NOT NULL,
	[Answer] [int] NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 23.03.2026 13:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[TestID] [int] IDENTITY(1,1) NOT NULL,
	[Theme] [nvarchar](50) NULL,
	[CountQuestion] [int] NOT NULL,
	[AuthorID] [int] NOT NULL,
	[Discipline] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tryes]    Script Date: 23.03.2026 13:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tryes](
	[TryID] [int] IDENTITY(1,1) NOT NULL,
	[UID] [int] NOT NULL,
	[TestID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[Answer] [int] NOT NULL,
	[WriteAnswer] [bit] NOT NULL,
 CONSTRAINT [PK_Tryes] PRIMARY KEY CLUSTERED 
(
	[TryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23.03.2026 13:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Teacher] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionID], [TestID], [TextQuestion], [Answer]) VALUES (1, 1, N'2+2', 4)
INSERT [dbo].[Questions] ([QuestionID], [TestID], [TextQuestion], [Answer]) VALUES (2, 1, N'3*3', 9)
INSERT [dbo].[Questions] ([QuestionID], [TestID], [TextQuestion], [Answer]) VALUES (3, 2, N'Сколько букв н в слове Оловя*ый', 2)
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Tests] ON 

INSERT [dbo].[Tests] ([TestID], [Theme], [CountQuestion], [AuthorID], [Discipline]) VALUES (1, N'Базовые примеры', 1, 2, N'Математика')
INSERT [dbo].[Tests] ([TestID], [Theme], [CountQuestion], [AuthorID], [Discipline]) VALUES (2, N'Начальный русский', 2, 2, N'Русский язык')
SET IDENTITY_INSERT [dbo].[Tests] OFF
GO
SET IDENTITY_INSERT [dbo].[Tryes] ON 

INSERT [dbo].[Tryes] ([TryID], [UID], [TestID], [QuestionID], [Answer], [WriteAnswer]) VALUES (1, 1, 1, 1, 4, 1)
INSERT [dbo].[Tryes] ([TryID], [UID], [TestID], [QuestionID], [Answer], [WriteAnswer]) VALUES (2, 1, 1, 2, 9, 1)
INSERT [dbo].[Tryes] ([TryID], [UID], [TestID], [QuestionID], [Answer], [WriteAnswer]) VALUES (3, 1, 1, 1, 4, 0)
SET IDENTITY_INSERT [dbo].[Tryes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UID], [login], [password], [Name], [Surname], [Teacher]) VALUES (1, N'1', N'1', N'admin', N'admin', 1)
INSERT [dbo].[Users] ([UID], [login], [password], [Name], [Surname], [Teacher]) VALUES (2, N'Teach', N'Teach', N'Antonina', N'Semenova', 1)
INSERT [dbo].[Users] ([UID], [login], [password], [Name], [Surname], [Teacher]) VALUES (3, N'Stud', N'Stud', N'Egor', N'Letov', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Tests] FOREIGN KEY([TestID])
REFERENCES [dbo].[Tests] ([TestID])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Tests]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_Users1] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Users] ([UID])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_Users1]
GO
ALTER TABLE [dbo].[Tryes]  WITH CHECK ADD  CONSTRAINT [FK_Tryes_Questions] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
GO
ALTER TABLE [dbo].[Tryes] CHECK CONSTRAINT [FK_Tryes_Questions]
GO
ALTER TABLE [dbo].[Tryes]  WITH CHECK ADD  CONSTRAINT [FK_Tryes_Tests] FOREIGN KEY([TestID])
REFERENCES [dbo].[Tests] ([TestID])
GO
ALTER TABLE [dbo].[Tryes] CHECK CONSTRAINT [FK_Tryes_Tests]
GO
ALTER TABLE [dbo].[Tryes]  WITH CHECK ADD  CONSTRAINT [FK_Tryes_Users] FOREIGN KEY([UID])
REFERENCES [dbo].[Users] ([UID])
GO
ALTER TABLE [dbo].[Tryes] CHECK CONSTRAINT [FK_Tryes_Users]
GO
USE [master]
GO
