USE [Romanchuk_Lev-6.2]
GO
/****** Object:  Table [dbo].[client]    Script Date: 08.11.2025 13:15:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client](
	[id] [smallint] NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[firstname] [nvarchar](50) NOT NULL,
	[lastname] [nvarchar](50) NOT NULL,
	[soure_id] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project]    Script Date: 08.11.2025 13:15:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project](
	[project_Name] [nvarchar](50) NOT NULL,
	[Client_Name] [nvarchar](50) NOT NULL,
	[Project_Start] [date] NOT NULL,
	[Project_Finish] [date] NOT NULL,
	[Budget] [float] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[client] ([id], [code], [firstname], [lastname], [soure_id]) VALUES (1, N'client_1', N'Kristy', N'Dean', 5)
INSERT [dbo].[client] ([id], [code], [firstname], [lastname], [soure_id]) VALUES (2, N'client_2', N'Ellis', N'Ortega', 4)
INSERT [dbo].[client] ([id], [code], [firstname], [lastname], [soure_id]) VALUES (3, N'client_3', N'Joseph', N'Bridges', 2)
GO
INSERT [dbo].[project] ([project_Name], [Client_Name], [Project_Start], [Project_Finish], [Budget]) VALUES (N'Accidentally Railroad', N'Bradly Noonan', CAST(N'2015-04-27' AS Date), CAST(N'2015-10-21' AS Date), 64741)
INSERT [dbo].[project] ([project_Name], [Client_Name], [Project_Start], [Project_Finish], [Budget]) VALUES (N'Oyster Stormy', N'Lina Southey', CAST(N'2015-02-27' AS Date), CAST(N'2015-12-29' AS Date), 297752)
INSERT [dbo].[project] ([project_Name], [Client_Name], [Project_Start], [Project_Finish], [Budget]) VALUES (N'Subtle Poseidon', N'Liliana Payton', CAST(N'2015-01-05' AS Date), CAST(N'2015-08-02' AS Date), 831756)
GO
